<div>
    <label>Headline</label>
    <input type="text" name="headline" value="<%= writing.headline %>">
</div>
<div>
    <label>Description</label>
    <input type="text" name="description" value="<%= writing.description %>">
</div>
<div>
    <label>Url</label>
    <input type="text" name="writingURL" value="<%= writing.writingURL %>">
</div>
<div>
<input name="writingImageName" type="text" id="url_text" value="<%= writing.writingImageName %>">
</div>
<input name="writingFormat" type="text" id="url_format" value="<%= writing.writingFormat %>">
<button class="ui button" type="button" id="upload_widget_opener">Upload with Widget</button>

<div>
    <label>Type</label>
    <select name="sourceType" value="<%= writing.sourceType %>">
        <option value="Theatre">Theatre</option>
        <option value="Other">Other</option>
    </select>
</div>