

<div class="canvas">
    <div>
        <h1 class="logo"><a href="/index.html">ELIZA GEARTY</h1></a>
    </div>
    <div class="menuBar">
        
            <div class="menuItem"><a href="/index.html">On the doors</a></div>
            <div class="menuItem"><a href="/about.html">About</a></div>
            <div class="menuItem"><a class="active" href="/theatre">Theatre</a></div>
            <div class="menuItem"><a href="/other">Other musings</a></div>
        
        </div>
    <div class="pageDivide"></div>

    
<% writings.forEach(writing => { %> 
    <div class="wrapper">  
            
        <div class="imageWritings">
            <a href="http://<%= writing.writingURL %>" target="_blank">
                <img class="mainImgs" src="https://res.cloudinary.com/dmupfimgd/image/upload/<%= writing.writingImageName %>" >
            </a>
        </div>    
        <div class="writingsText">
            <p>
                <div class="headline"><%= writing.headline %></div>
                <div class="description"><%= writing.description %></div>
                <div class="read"><a href="http://<%= writing.writingURL %>" target="_blank">READ</a></div>
            </p>
        </div>    

    </div>
    <br>
    <hr>
<% }) %> 

</div>
